<div class="modal fade" bsModal #newSuggestionModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Suggestion</h4>
                <button type="button" class="close" (click)="hideSuggestionModal()">&times;</button>
            </div>
            <form #suggestionForm="ngForm" (ngSubmit)="onFormSubmit(suggestionForm)">
                <div class="modal-body">
                    <p>{{profile?.name}}</p>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <textarea name="suggestion" class="form-control" rows="5" placeholder="Enter a new suggestion!" required [(ngModel)]="suggestion"></textarea>
                        </div>
                    </div>
                </div>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hideSuggestionModal()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="onFormSubmit(suggestionForm)">Submit Suggestion</button>
            </div>
        </div>
    </div>
</div>