<nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>-->
          <a class="navbar-brand" href="#">Login Test</a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li><a routerLink="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li><a href="#" (click)="authService.login()" *ngIf="!authService.authenticated()">Login</a></li>
            <li><a routerLink="/profile" *ngIf="authService.authenticated()">Profile</a></li>
            <li><a href="#" (click)="authService.logout()" *ngIf="authService.authenticated()">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <!--<router-outlet></router-outlet>-->
    </div><!-- /.container -->

