<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h1>{{profile.name}}</h1>
        </div>
        <div class="col-xs-4">
            <img class="img-circle avatar" src="{{profile.picture}}">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-md-1">
            <a href="#" routerLink="/profile">
                <h4>profile</h4>
            </a>
        </div>
        <div class="col-xs-3 col-md-1">
            <a href="#" routerLink="/profile">
                <h4>feed</h4>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid my-jumbotron">
    <div class="jumbotron">
    </div>
</div>