body {
    font-family: 'Roboto', sans-serif;
}

.my-jumbotron {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

@media (max-width: 767px) {
    .avatar {
    width: 80px!important;
    height: 80px!important;
    }
}

@media (min-width: 768px) {
    .avatar {
    width: 100px!important;
    height: 100px!important;
    }
}